dev_mode = false
multinode_mode = true
replication_enable = false # make true for production
max_size = 5000
fee_limit = 1800000000000000000
rate_limit = 300
time_frame_seconds = 30
expiration_seconds = 5
block_time = 3000
eth_chain_id = 1066 # mainnet chain_id

# Enable/Disable estimate_fee RPC
rpc_disable_estimate_fee = false

## Node 1
node_port = "5010"
node_ip_address = "/ip4/0.0.0.0/tcp/5010"
node_private_key = ""
node_verifying_key = ""
node_address = ""
node_metadata = "metadata"
cluster_address = "0101010101010101010101010101010101010101"
boot_nodes = [
  "/ip4/13.38.143.38/tcp/5010/p2p/16Uiu2HAmHeonuUUAuKEFFw5GVX5JmdnK6ExvQ4GXN5UuCAirbpTd",
  "/ip4/52.14.200.243/tcp/5010/p2p/16Uiu2HAkwig2bUtpQPJyHANEoYHLKqGnweEeCiyNYHtVPbCjxgPt",
  "/ip4/54.245.89.49/tcp/5010/p2p/16Uiu2HAmToePhyjpafK29UohyJiQVofZdjzch7QCYwpnNUBFwup3"
]

archive_nodes = [] # DEPRECATED
archive_snapshot_sources = ["https://v2-mainnet-archive.l1x.foundation/"]
archive_public_key = "03aa7c205ddb5048408f48de46002c171a712613058c8ee12c73aeeed5ae016f2b"

sync_node_time_interval = 120
snapshot_time_interval = 28800
disable_snapshot = false
grpc_port = "0.0.0.0:50052"
jsonrpc_port = "0.0.0.0:50051"
validator_pool_address = "522b3294fe78d57a1d7e1c37393f11841f6a9494"



[grpc]
block_cache_capacity = 7200

[autonat]
timeout = 5
boot_delay = 5
retry_interval = 3
throttle_server_period = 0
confidence_max = 1

refresh_interval = 900

max_peer_addresses = 16
throttle_clients_global_max = 30
throttle_clients_peer_max = 3
throttle_clients_period = 1

db_type = 1

[db.postgres]
host = "127.0.0.1:5432"
username = "admin"
password = "admin"
pool_size = 10
db_name = "l1x"
test_db_name = "l1x_test" # optional

[initial_epoch]
block_proposer = "21f05ed3e1be2b2067a251125fef50db2f97f91a"

[sync]
batch_size = 500



# Uncomment these if needed
# max_peer_addresses = 16
# throttle_clients_global_max = 30
# throttle_clients_peer_max = 3
# throttle_clients_period = 1
# only_global_ips = true
